html, body, #root {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevents scrolling if any element overflows */
  }
/* Center the weather component within its container */
.Weather {
    position: relative;
    top: 150px; 
    z-index: 2; /* Ensures it stays above the background */
    width: 400px;
    place-self: center;
    align-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, rgba(47, 70, 128, 0.8), rgba(5, 113, 163, 0.8));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}
.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}
.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;  
}
.weather-icon{
    width: 150px;
    margin: 30px 0;
}
.temperature{
    color: #fff;
    font-size: 80px;
    line-height: 1;
}
.location{
    color: #fff;
    font-size: 40px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 21px;
}